/* TODO Add site wide styles */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: azure;
}

.navbar-sub {
    display: flex;
    flex-direction: row;
    justify-content: right;
}